@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,300;1,700&family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
.tagline{
  font-size: 70px;
  font-weight:500;
}
@media only screen and (max-width: 860px) {
  .tagline{
    font-size: 50px;
  }
} 
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 800;
  margin-left: 40px;
  text-decoration: none;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .text-box {
  position: relative;
  max-width: 600px;
}
.container .text-box h2 {
  color: #333;
  font-size: 4em;
  font-weight: 500px;
}
.container .text-box h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
.container .text-box p {
  color: #333;
}
.container .text-box a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.container .img-box {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
.container .img-box img {
  max-width: 340px;
}
.social {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}
/* .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
} */

#image1 {
  width: 350px;
  height: 300px;
  margin-right: 250px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  float: right;
}

#image1-box {
  margin-top: 50px;
}
.container-sm {
  background-color: white;
}
.container-fluid {
  background-color: rgb(56, 141, 76);
  width: 100%;
  color: white;
}
.pt-3 px-3 fs-5 {
  font-size: 100px;
}
#abc {
  color: white;
}
.form-control {
  background-color: rgb(241, 241, 241);
}
#bcd {
  color: rgb(6, 3, 3);
  font-size: 200cap;
  font-weight: bold;
}

.navbar {
  padding-top: 0px;
}

.container-fluid {
  background-color: rgb(56, 141, 76);
  color: white;
}

#abc {
  color: white;
}

.navbar-toggler-icon {
  color: white;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar {
  padding-top: 0px;
}

.img-box {
  margin-left: 50%;
  height: 250px;
  width: 300px;
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#footer-text {
  margin-right: 10%;
}

#para {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0px;
}

#logos {
  margin-left: 10%;
}

.smaller {
  height: 30px;
  width: 30px;
  margin-right: 7px;
}

#section {
  height: 100vh;
}

.about-us {
  background-color: rgb(82, 183, 105);
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10%;
}

#text {
  padding: 20px;
}

h2 {
  text-align: center;
  padding-top: 10px;
}

body {
  background-color: rgb(199, 229, 154);
}

a{
  text-decoration: none;
}