body {
    background-color: rgb(199, 229, 154);
}

.container-sm {
    width: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}

#category,
#desc,
#formfile {
    background-color: rgb(241, 241, 241);
    border: 1px solid #e1e0e0;
    padding: 6px;
    border-radius: 4px;
}

.navbar {
    padding-top: 0px;
}

.container-fluid {
    background-color: rgb(56, 141, 76);
    color: white;
}

#abc {
    color: white;

}

.navbar-toggler-icon {
    color: white;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}